
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Set a light background color */
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the app takes at least the full height of the viewport */
    background-color: #fff; /* Set a white background color */
  }
  
  .container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .button {
    background: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .contactList {
    list-style: none;
    padding: 0;
  }
  
  .contactItem {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .editButton,
  .deleteButton {
    background: #2196F3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .deleteButton {
    background: #f44336;
    margin-left: 5px;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode input,
  .dark-mode button {
    background-color: #555;
    color: #fff;
  }
  
  .dark-mode-toggle {
    background-color: #555;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .input-search {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
  }
  
  /* Add styles for the placeholder text inside the search input */
  .input-search::placeholder {
    color: #aaa;
  }
  
  /* Add styles for the input on focus */
  .input-search:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Additional styling for the search input */
  .container.dark-mode .input-search {
    background-color: #333;
    color: #fff;
    border-color: #555;
  }